
/*
  NOTE to developers: We generate RTL CSS from this file in the webpack
  compilation, here are sme additional rules that can be added to the CSS files:
  https://rtlcss.com/learn/usage-guide/control-directives .
*/

/*
  This affects the progress nav bar.
*/
.card-navigation-control .oppia-nav-button .mat-button.oppia-autofocus:focus {
  background-color: #0d48a1;
}

.card-navigation-control .oppia-learner-confirm-button {
  border-radius: 2px;
  font-size: 16px;
  line-height: 22px;
  outline: none;
  text-transform: uppercase;
}

.card-navigation-control .continue-button {
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 12px;
}

.card-navigation-control .oppia-learner-confirm-button,
.card-navigation-control.continue-button {
  background: #0d48a1;
  border: 1px solid #0d48a1;
  border-radius: 4px;
  box-shadow: inset -5px -5px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  gap: 4px;
  height: 44px;
  letter-spacing: 0;
  line-height: 22px;
  padding: 10px 4px 10px 8px;
  text-align: left;
}

.card-navigation-control .oppia-learner-submit-answer-button {
  background: #00645c;
  border-radius: 4px;
  box-shadow: inset -5px -5px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  gap: 4px;
  height: 44px;
  line-height: 22px;
}

.card-navigation-control .oppia-learner-submit-answer-button[disabled] {
  background: #d9d9d9;
  color: #757575;
  cursor: default;
}

.card-navigation-control {
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.card-navigation-control .oppia-nav-button {
  height: 36px;
  margin: 0 12px 20px 12px;
  min-width: 36px;
  padding: 6px;
}

.card-navigation-control .oppia-nav-left-button {
  background: #fcfcfd;
  border: 1px solid #0d48a1;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(0, 0, 0, 0.3);
  color: #0d48a1;
  height: 44px;
  margin: 0 auto;
  padding: 10px 0;
  width: 44px;
}

.card-navigation-control .oppia-nav-right-button {
  background: #fcfcfd;
  border: 1px solid #0d48a1;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(0, 0, 0, 0.3);
  color: #0d48a1;
  height: 44px;
  margin: 5px;
  padding: 10px 0;
  width: 44px;
}

/*
  The comment in the section below is an rtlcss value directive mentioned here:
  https://rtlcss.com/learn/usage-guide/value-directives/, which tells rtlcss
  to replace the value of the input style to whatever is specified in the
  comment.
*/
.card-navigation-control .oppia-arrow {
  font-size: 19px;
  padding-bottom: 5px;
  padding-top: 1.5px;
  -moz-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  -o-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  -webkit-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  transform: scaleX(1) /*rtl:scaleX(-1)*/;
}
.card-navigation-control .oppia-nav-button.oppia-nav-left-button {
  margin-left: 12px;
}

.card-navigation-control.row {
  display: flex;
  flex-direction: row;
}
.card-navigation-control.space-between {
  justify-content: space-between;
}
.card-navigation-control.center {
  align-content: center;
  align-items: center;
}
.card-navigation-control .row-item {
  flex-grow: 1;
}
.card-navigation-control .row-item-next-card {
  text-align: right;
}
.card-navigation-control .row-item-previous-card {
  text-align: left;
}

/*
  The comment in the section below is an rtlcss value directive mentioned here:
  https://rtlcss.com/learn/usage-guide/value-directives/, which tells rtlcss
  to replace the value of the input style to whatever is specified in the
  comment.
*/
.card-navigation-control .material-icons {
  -moz-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  -o-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  -webkit-transform: scaleX(1) /*rtl:scaleX(-1)*/;
  transform: scaleX(1) /*rtl:scaleX(-1)*/;
}

.card-navigation-control .oppia-skip-button {
  border: 1px solid #0d48a1;
  color: #0d48a1;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}
